* {
    box-sizing: border-box;
}

body {
    /* Photo taken from https://www.freepik.com/ */
    background: url('../images/Stadium.webp') no-repeat center center;
    background-size: cover;
    clear: both;
}

/* The header */
#header {
    color: #00ff00;
    font-size: 400%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    text-decoration: underline;
}

/* Game area / container  */
.game-area {
    width: 75%;
    height: 500px;
    margin: auto;
    background-color: black;
    border: 6px solid #0ddb3a;
    border-radius: 20px;
    color: #FFFFFF;
}

#question,
#intro {
    padding-top: 20px;
    color:#0ddb3a;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5vh;
}



/* Button layout */
.button-grid {
    display: grid;
    gap: 10px;
}

.btn {
    width: 40%;
    height: 60px;
    background-color: #0ddb3a;
    color: black;
    font-size: 15px;
    margin: auto;
}

.start-btn {
    display: grid;

}

#start {
    background-color: blue;
    color: white;
    margin-top: 10vh;
}

/* Hide */

.hide {
    display: none;
}

/* Score area */

#score-area {
    background-color: black;
    text-align: center;
    font-size: x-large;
}

#correctP {
    color: #00ff00;
    margin-top: 10vh;
    font-size: xxx-large;
}

#incorrectP {
    color: red;
    font-size: xxx-large;
}

a {
    background-color: blue;
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
}

/* Media Queries */

@media screen and (max-width: 400px) {
    
    
#question {
    font-size: 15px;
}
#correctP {
    margin-top: 5vh;
    font-size: 40px;
}

#incorrectP {
    font-size: 40px;
}
}