* {
    box-sizing: border-box;
}

/* The header */
#header {
    font-size: 400%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    text-decoration: underline;
}

/* Game area / container  */
.game-area {
    width: 75%;
    height: 500px;
    margin: auto;
    background-color: black;
    border: 6px solid #0ddb3a;
    border-radius: 20px;
    color: #FFFFFF;
}

#question {
    text-align: center;
    font-size: xx-large;
}

/* Button layout */
.button-grid {
    display: grid;
    gap: 10px;
}

.btn {
    width: 50%;
    height: 40px;
    background-color: #0ddb3a;
    color: black;
    font-size: large;
    margin: auto;
}

.start-btn {
    display: grid;

}

#start {
    background-color: blue;
    color: white;
    margin-top: 20vh;
}

/* Hide all buttons except for "Start" button */


.hide {
    display: none;
}